* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 1024px;
    margin: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}

body {
    border: qpx solid #DDD;
}


#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

/*Bordered form*/

form {
    text-align: center;
    border: 1px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=confirm-password] {
    width: 96%;
    padding: 1.25% 2.08333333%;
    margin: 0.8333333% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}




button {
    background-color: #4CAF50;
    color: white;
    padding: 1.041666667% 1.875%;
    margin: 0.8333333% 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 1.041666667% 1.875%;
    background-color: #f44336;
}

.container {
    padding: 1.6666666667%;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
