#impostazioni-profilo {
	margin-left: 2.5em;
}

.profile-picture {
	display: inline-block;
	width: 15em;
	height: 15em;
	vertical-align: top;
	margin-left: 25em;
}

.option-container {
	display: inline-block;
	margin-left: ;
	width: 25em;
}

#pass {
	display: none;
}
