/* styling */

body {
	background-color: #fff;
}

/* head content */

header {
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #5f92e3;
	position: absolute;
}

.img-logo {
	width: 5em;
	height: 5em;
	margin: 0;
	padding: 0;
}

.logo {
	float: left;
	margin: 0 2%;
}

.brand {
	float: left;
}

.login-registration {
	float: right;
	padding-top: 1em;
	margin: 0 2%;
}

.login-registration a:focus {
	background-color: #41425a;
	color: #fff;
	font-size: 1.4em;
	padding: .3em;
	border-radius: 2px;
}

.login-registration a:hover {
	background-color: #41425a;
	color: #fff;
	font-size: 1.4em;
	padding: .3em;
	border-radius: 2px;
}

.login-registration a:active {
	background-color: #666;
}

/* main content */

main {
	min-height: 100vh;
	margin: 6em 1em 1em 1em;
	padding: 1em;
	/*DA TOGLIERE*/
	border: solid 1px;
}

.card-container {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.card {
	width: 20em;
	height: 15em;
	/*DA CAMBIARE*/
	background-color: #999;
	display: inline-block;
	vertical-align: top;
	margin: 1em;
	padding: 1em;
}

/* footer content */

footer {
	background-color: #2e2e80;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10em;
	padding: 1em;
	color: #fff;
}


/*
.mobile-footer {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.mobile-footer > div > div {
	background-color: #999;
}

@media only screen and (max-width: 45em) {
	 //720x 
	.mobile-footer {
		display: block;
	}
}
*/
