/* font */

* {
	font-family: 'Roboto', Helvetica, sans-serif;
	color: #333447;
	line-height: 1.5;
}

/* reset */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
}

/* styling */

body {
	background-color: #fff;
}

header {
	background-color: #5f92e3;
	height: 6rem;
}

header img {
	width: 6em;
	height: auto;
}	

header > .container {
	margin: 0;
	width: 100%;
}

header > .container > .row [class^="col"] {
	margin: 0 2%;
}

.mobile-footer {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.mobile-footer > div > div {
	background-color: #999;
}

@media only screen and (max-width: 45em) {
	/* 720x */
	.mobile-footer {
		display: block;
	}
}