/********************************************************
***********************COLORS****************************
*********************************************************/
/*
dark grey - text #263238
light blue - normal #03A9F4
light blue - accent @81D4FA

*/

/********************************************************
***********************GENERAL***************************
*********************************************************/

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
}
* {
	color: #263238;
	font-family: 'Roboto', Helvetica, sans-serif;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
.brand-font {
	font-style: italic;
	font-family: 'Pacifico';
}
.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.hidden {
	display: none;
}

i {
	vertical-align: text-bottom;
}

/********************************************************
***********************MOBILE FIRST**********************
*********************************************************/

#jump-top {
	position: fixed;
	right: 2em;
	bottom: 3.5em;
	z-index: 99;
	display: none;
	width: 3.5rem;
	height: 3.5rem;
	border: none;
	border-radius: 50%;
	background-color: #03A9F4;
	color: #fff;
	cursor: pointer;
}
#jump-top:hover {
	background-color: #81D4FA;
}

/********************************************************
***********************HEADER****************************
*********************************************************/

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	display: block;
	width: 100%;
	background-color: #03A9F4;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 5px 10px rgba(0, 0, 0, 0.25);
}
.header-container {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}
.header-container a {
	text-decoration: none;
}
.header-left {
	display: inline-block;
	width: 45%;
}
#logo {
	display: inline-block;
	width: 2.2em;
	height: 2.2em;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#brand {
	display: inline-block;
	margin-left: -0.5em;
	vertical-align: middle;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
	font-size: 1.2em;
}
.header-right {
	display: inline-block;
	width: 45%;
	text-align: right;
}
.header-right a {
	margin: 0 .5em;
}
#username-picture {
	display: none;
}
#settings {
	display: none;
}
#logout {
	display: none;
}
#join-us {
	display: none;
}
#login-registration {
	margin-top: 0.5em;
	margin-right: -2.5em;
	margin-bottom: 0.5em;
	font-size: 0.7em;
}
#login-registration a {
	display: inline-block;
	margin: .3em;
	padding: .5em;
	border-style: solid;
	border-radius: 2px;
	vertical-align: middle;
	text-align: center;
}
#login-registration a:hover,
#login-registration a:focus {
	border-color: #fff;
	background-color: #263238;
	color: #fff;
}
#login-registration a:active {
	border-color: #263238;
	background-color: #fff;
	color: #263238;
}
.sidenav {
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 4em;
	width: 0;
	height: 100%;
	background-color: #1565C0;
	transition: 0.5s;
}
.sidenav a {
	display: block;
	padding: 8px 8px 8px 32px;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	transition: 0.3s;
}
.sidenav a:hover {
	background-color: #03A9F4;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 1em;
	font-size: 2.5em;
}
.sidenav-btn {
	display: inline-block;
	font-size: 1.9em;
	cursor: pointer;
}

/*--------------------------------------------- home page for not logged users content ---------------------------------------*/

main {
	display: block;
	margin-top: 3em;
	min-height: 100vh;
}
.section {
	min-height: 50vh;
}
.welcome {
	margin-bottom: 1em;
}
#title1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}
#title2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
}
.section-top3 {
	margin-top: 3em;
	margin-bottom: 3em;
}

/* Per eliminare gli spazi bianchi dovuti ai figli inline */

.button-top3 {
	font-size: 0;
}
.button-top3 button {
	display: inline-block;
	padding: .5em 1em;
	width: 10em;
	border-style: solid;
	border-color: #263238;
	border-radius: 2px;
	background-color: #03A9F4;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
	font-size: 1.2rem;
}
#button-week {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#button-month {
	border-top: none;
	border-bottom: none;
	border-radius: 0;
}
#button-year {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.button-top3 button:hover,
.button-top3 button:focus {
	background-color: #81D4FA;
}
.button-top3 button:active {
	background-color: #fff;
}
.card {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	width: 12em;
	height: 12em;
	border-radius: 2px;
	background-color: #03A9F4;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
	vertical-align: top;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-container {
	margin-top: 3em;
	margin-bottom: 2em;
	width: 85%;
}
.card-container > h1 {
	margin-bottom: 0;
}
#deco1 {
	display: inline-block;
	width: 250px;
	content: url('../img/deco1.jpg');
}
#deco2 {
	display: inline-block;
	width: 250px;
	content: url('../img/deco2.jpg');
}
.selected {
	background-color: #0D47A1 !important;
	color: #fff;
}
.section-sidelong {
	position: relative;
	z-index: -1;
	margin-bottom: 2em;
	width: 100%;
	background-image: linear-gradient(#03A9F4, #0D47A1);
}
.section-sidelong * {
	color: #fff;
}
#svg-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0px;
}
#svg-bot {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0px;
}
.sidelong-padding {
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 90%;
	font-size: 0;
}
.left-sidelong {
	text-align: left;
	font-size: 0.8rem;
}
.right-sidelong {
	display: none;
	min-width: 5rem;
	max-width: 20rem;
	width: 40%;
	vertical-align: middle;
	text-align: right;
}
.right-sidelong img {
	width: 50%;
	height: auto;
	vertical-align: middle;
}

/*-------------------------------------------------------- main.html ---------------------------------------------*/

.content-body {
	min-height: 100vh;

	//width: 100%;
}
.content {
	font-size: 0.9em;

	//margin-top: -1.5em;
	//padding: 2em;
}
.content h1 {
	font-size: 1.8em;
}
.content-title {
	margin-top: 1em;
}
.content-card-container {
	display: inline-block;
	margin-top: -0.5em;
	margin-bottom: 1.5em;
}
.content-card-cover {
	display: inline-block;
	margin: 1em;
	margin-bottom: -1em;
	padding: 1em;
	width: 10em;
	height: 8em;
	border-radius: 2px;
	background-color: #5ca1e6;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
.content-card-details-title {
	margin-bottom: -0.1em;
}
nav {
	display: none;
}

/*-------------------------------------------------- user-creations.html -------------------------------------------------*/

.table-container {
	overflow-x: auto;
}
#user-creations {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
#user-creations td,
#user-creations th {
	padding: 0.5em;
	border: 1px solid #03A9F4;
	text-align: left;
}
#user-creations tr:nth-child(even) {
	background-color: #b3e0ff;
}

/*------------------------------------------------- user-soundtrack-upload.html --------------------------------------------------*/

#content-user-upload {
	margin-top: 2em;
	margin-left: 1em;
}

/*-------------------------------------------------- login.html & register.html --------------------------------------------------*/

.reglog {
	min-height: 100vh;
	width: 95%;
}
.reglog-title {
	margin-bottom: 1em;
	font-size: 0.6em;
}
.reglog form {
	padding: 1em;
	border: 1px solid #f1f1f1;
	font-size: 0.8em;
}
.input-text label {
	font-size: 1rem;
}
.input-text input {
	margin: 1em 0;
	padding: 1em .5em;
	width: 18em;
	border: 1px solid #ccc;
}
.form-buttons {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	width: 8em;
	border: none;
	color: #fff;
	cursor: pointer;
}
.button-green {
	background-color: #4CAF50;
}
.button-red {
	background-color: #F44336;
}
#legal {
	font-size: 0.8em;
}

/*----------------------------------------------------- user-settings.html -----------------------------------------------------*/

.user {
	padding: 2em;
}
.container-user-settings {
	display: inline-block;
	margin-top: 2.5em;
	width: 50%;
	text-align: left;
}
.container-settings {
	display: inline-block;
	width: 50%;
}
.container-password {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
.current {
	font-weight: bold;
}
.container-user-settings form input {
	margin: 1em;
	padding: .5em 1em;
}
.container-picture {
	display: inline-block;
	margin-top: 0.5em;
	width: 49%;
	vertical-align: top;
}
#pass {
	display: none;
}
#profile-picture {
	width: 15em;
	height: 15em;
}
.admin {
	padding: 2em;
	border-radius: 2px;
	background-color: #EF9A9A;
}
.admin h2 {
	text-align: left;
}
#users-info {
	width: 100%;
	border-spacing: 0;
	text-align: left;
}
#users-info th {
	border-bottom: 2px solid #263238;
}
#users-info th,
#users-info td {
	padding: .5em;
}
#users-info tr:nth-child(odd) {
	background-color: #ef5350;
}

/*------------------------------------------------- search-music.html ------------------------------------------------------------*/

form.search-bar input[type=text] {
	float: left;
	padding: 10px;
	width: 60%;
	border: 2px solid #2196F3;
	background: #f5f5f5;
	font-size: 15px;
}
form.search-bar button {
	display: inline-block;
	width: 20%;
	height: 2.85em;
	border: none;
	background-color: #2196F3;
	background-image: url('../img/search-bar-glass.png');
	background-position: center;
	background-size: 2em;
	background-repeat: no-repeat;
	font-size: 15px;
	cursor: pointer;
}
form.search-bar button:hover {
	background-color: #0b7dda;
}
.select {
	margin-left: 2em;
}

/*------------------------------------------------- listen.html ------------------------------------------------------------*/

.content-play {
	display: inline-block;
	width: 95%;
}
.content-suggestion {
	display: none;
}
.content-play .content h3 {
	margin-top: 2em;
	margin-left: 1em;
}
#comment-area {
	margin: 0 1rem;
	width: 95%;
	height: 4em;
}
#comments {
	margin-top: 1em;
	margin-left: 1em;
	width: 95%;
}
.comment {
	margin-bottom: .5em;
	padding: 1em;
	border-radius: 2px;
	background-color: #f5f5f5;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
.download-button {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
	width: 8em;
	border: none;
	background-color: #1565C0;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.comment-button {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.1em;
	padding: 0.5em;
	width: 8em;
	border: none;
	background-color: #1565C0;
	color: #fff;
	cursor: pointer;
}
.user-comment * {
	display: inline-block;
	margin-left: 1em;
	width: 2em;
	height: 2em;
}
.comment h4 {
	margin-top: -0.2em;
	margin-left: 1em;
	font-weight: normal;
}
audio {
	width: 100%;
}
#player-audio .content-card-cover {
	margin: 1em;
	padding: 0;
	width: auto;
	height: auto;
	border: none;
	background: none;
	box-shadow: none;
}
#cover-player {
	margin-bottom: 1em;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
#player-audio {
	margin: 1em 1em 0 1em;
	padding: 1em;
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-color: #424242;
	box-shadow: none;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
#info-player {
	margin: 0 1em;
	padding: .5em;
	width: 100%;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	background-color: #f5f5f5;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
#info-player div {
	margin-bottom: .5em;
}
#like-dislike {
	float: right;
	margin-top: 1.5em;
}
.submit-like-dislike input {
	width: 2em;
	height: 2em;
	border: none;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	color: transparent;
	cursor: pointer;
}
.like input {
	background-image: url('../img/thumb-up-outline.png');
}
.dislike input {
	background-image: url('../img/thumb-down-outline.png');
}
#voted-like {
	background-image: url('../img/thumb-up.png');
}
#voted-dislike {
	background-image: url('../img/thumb-down.png');
}
#like-dislike * {
	display: inline-block;
	margin: 0 .1em;
	width: 2em;
	height: 2em;
}
.card-suggestion {
	margin: 0;
	margin-bottom: 1em;
	padding-bottom: .5em;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
.card-suggestion:hover {
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);
}
.content-card a {
	text-decoration: none;
}
.card-suggestion img {
	width: 10em;
}
.results-container {
	margin: 1em 0;
	text-align: center;
}
.results-container a {
	text-decoration: none;
}
.result-card {
	display: inline-block;
	margin: .5em;
	padding-bottom: .5em;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
	text-align: center;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.result-card:hover {
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);
}
.result-card img {
	width: 8em;
}
.result-card * {
	display: block;
}
.result-card-title {
	margin: 0.5em;
	font-weight: bolder;
}
.result-card-title-sub {
	font-weight: bold;
}
.footer-right img {
	width: 30px;
	vertical-align: text-bottom;
}

/********************************************************
***********************NOT MOBILE************************
*********************************************************/

@media screen and (min-width: 760px) {
	/*---------------------- header -----------------------*/
	.header-container {
		width: 90%;
	}
	.header-left {
		width: 40%;
	}
	#logo {
		width: 5em;
		height: 5em;
	}
	#brand {
		font-size: 2.5em;
	}
	.header-right {
		width: 55%;
	}
	.head-icon {
		display: inline-block;
		width: 2em;
		height: 2em;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#settings {
		display: inline-block;
		background-image: url('../img/settings.png');
		vertical-align: middle;
	}
	#settings:hover {
		background-image: url('../img/settings-white.png');
	}
	#logout {
		display: inline-block;
		margin-left: 1em;
		background-image: url('../img/logout.png');
		vertical-align: middle;
	}
	#logout:hover {
		background-image: url('../img/logout-white.png');
	}
	#join-us {
		display: inline-block;
		margin-right: 1em;
		vertical-align: middle;
	}
	#login-registration {
		display: inline-block;
		margin-left: 1em;
		font-size: 1.2em;
	}
	#username-picture {
		display: inline-block;
	}
	#username {
		display: inline-block;
		margin: 0 .5em 0 1em;
		vertical-align: middle;
		font-weight: bold;
	}
	#profile-pic {
		width: 2em;
		height: 2em;

		border-radius: 50%;
		vertical-align: middle;
	}
	.sidenav-btn {
		display: none;
	}
	/*--------------------- index.html --------------------*/
	main {
		overflow: hidden;

		margin-top: 5em;
	}
	#title1 {
		font-size: 3em;
	}
	.section-top3 {
		margin-top: 5em;
		margin-bottom: 5em;
	}
	#title2 {
		font-size: 1.8em;
	}
	#svg-top {
		height: 10%;
	}
	#svg-bot {
		height: 10%;
	}
	.sidelong-padding {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.left-sidelong {
		display: inline-block;
		margin-right: 10%;
		width: 50%;
		vertical-align: middle;
		font-size: 1rem;
	}
	.right-sidelong {
		display: inline-block;
	}
	#button-week {
		border-right: none;
	}
	#button-month {
		border-top: solid 2px;
		border-bottom: solid 2px;
	}
	#button-year {
		border-left: none;
	}
	.card {
		width: 15em;
		height: 15em;
	}
	/*-------------- login.html & register.html ----------------*/
	.reglog-title {
		margin-bottom: 1em;
		font-size: 1.2em;
	}
	.reglog form {
		font-size: 1.2em;
	}
	.input-text label {
		font-size: 1.3rem;
	}
	.input-text input {
		width: 30em;
	}
	.form-buttons {
		margin: 1em;
	}
	#legal {
		font-size: 0.5em;
	}
	/*----------------------- main.html ------------------------*/
	nav {
		position: fixed;
		z-index: 9999;
		display: block;
		width: 15em;
		height: 100%;
		background-color: #1565C0;

		//margin-top: 5em;
	}
	nav * {
		color: #fff;
	}
	#nav-menu ul {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
	}
	#nav-menu li {
		margin: 0;
		padding: 0;
	}
	#nav-menu a {
		display: block;
		margin: 0;
		padding: .5em;
		padding-left: 2em;
		font-size: 1.2em;
	}
	#currentPage {
		background-color: #03A9F4;
		text-decoration: none;
		cursor: default;
		pointer-events: none;
	}
	#nav-menu a:hover {
		background-color: #03A9F4;
	}
	#nav-menu a:active {
		background-color: #81D4FA;
	}
	.main-right {
		margin-left: 15em;

		padding: 2em 1em;
	}
	.content {
		font-size: 1em;
	}
	/*---------------------- listen.html --------------------*/
	.main-right-special {
		margin-left: 15em;

		padding: 2em 0 2em .5em;
	}
	.content-play {
		display: inline-block;
		overflow: hidden;

		width: 75%;
	}
	.content-suggestion {
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}
	#player-audio {
		width: 95%;
	}
	#info-player {
		width: 95%;
	}
	#like-dislike {
		float: right;
		margin-top: 1em;
		margin-right: 1em;
	}
	#comment-area {
		width: 95%;
	}
	#comments {
		width: 95%;
	}
	/*-------------------- search-music.html ------------------*/
	form.search-bar button {
		width: 10%;
	}
	/*---------------------------------------------------- footer content -------------------------------------------*/
	footer {
		position: static;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		padding: 1em;
		min-height: 5em;
		background-color: #0D47A1;
	}
	footer * {
		color: #fff;
	}
	.footer-links {
		/*To Do*/
	}
	.footer-bot {
		position: relative;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.footer-left {
		display: inline-block;
		width: 49%;
	}
	.footer-right {
		display: inline-block;
		width: 50%;
		text-align: right;
	}
	.footer-main {
		margin-left: 15em;
	}
	.footer-right img {
		width: 30px;
		vertical-align: text-bottom;
	}
	.footer-right a {
		text-decoration: none;
	}
	.footer-right span {
		margin-right: .5em;
	}
}
